<?xml version="1.0" encoding="iso-8859-1"?>
<settings>
	<setting name="ImportSmallWidth">200</setting>
	<setting name="ImportSmallHeight">150</setting>
	<setting name="ImportWidth">450</setting>
	<setting name="ImportHeight">400</setting>
	<setting name="ImportLargeWidth">450</setting>
	<setting name="ImportLargeHeight">400</setting>	
	<setting name="ImportLarge">false</setting>
	<setting name="ImportQuality">80</setting>
	<setting name="ImportEmbedCopyright">true</setting>
	<setting name="ImportEmbedCopyrightText">KDWEB 2006</setting>
	<setting name="ImportEmbedCopyrightTextSize">12</setting>
	<setting name="ImportEmbedCopyrightTextColorAlpha">50</setting>	
	<setting name="ImportEmbedCopyrightTextColorR">255</setting>		
	<setting name="ImportEmbedCopyrightTextColorG">255</setting>		
	<setting name="ImportEmbedCopyrightTextColorB">255</setting>			
	<setting name="ImportEmbedWatermark">true</setting>
	<setting name="AlbumThumbWidth">64</setting>
	<setting name="AlbumThumbHeight">48</setting>
	<setting name="AlbumThumbQuality">80</setting>
	<setting name="AutoExpandCollections">true</setting>
	<setting name="VideoThumbWidth">200</setting>
	<setting name="VideoThumbHeight">150</setting>
	<setting name="VideoThumbQuality">80</setting>
</settings>
