<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
  <title>JOOMLA EVENTS COMPONENT</title>
  <style type="text/css">
body{
backgroundcolor: white;
font-family: verdana,arial;
}
  </style>
</head>
<body>
<h3>MAMBO EVENTS COMPONENT</h3>
<div style="font-size: 10px;">April 2006 :: Version 1.3 beta<br>
</div>
<!--
<h4>New demo web site for Events Calendar</h4>
Check out <br>
<div style="margin-left: 40px;"><span style="font-weight: bold;"><a href="http://mosevents.sourceforge.net">http://mosevents.sourceforge.net</a></span><br>
</div>
<br>//-->
<h4>ATTENTION</h4>
Please open <br>
<div style="margin-left: 40px;"><span style="font-weight: bold;">Components
:: Events :: Edit config</span><br>
</div>
and <span style="text-decoration: underline;">change</span> the Admin
email address!<br><br>
Then, open
<div style="margin-left: 40px;"><span style="font-weight: bold;">Components
:: Events :: Manage events categories</span><br>
</div>
and set up your categories. You have to set up and publish at least one before you can add any event.<br>
<br>
<b>Upgraders:</b> If you are upgrading please save your configuration again as new default values were added.

<h4>HISTORY</h4>

Version 1.3:<br>
<ul>
  <li>enabling of caching from component and modules - major performance benefits</li>  
  <li>full Joomfish compatability</li>
  <li>Slovenian translation added, Spanish improved</li>
  <li>Finnish, Danis and Greek translations added</li>
  <li>allow all users by config option to add events (still must be approved)</li>
  <li>removed need for adding an activity</li>
  <li>allow publishing of events from frontend</li>
  <li>many small bug fixes</li>
</ul>
<br>
<hr size="1">
<div style="font-size: 10px;" align="center"><a
 href="http://forge.joomla.org/sf/sfmain/do/viewProject/projects.jevents" target="_blank">JEvents Project<a></div>
</body>
</html>
