/* CSS Document */
div.sortableList {
	cursor: n-resize;
}
div.sortableList.group {
	margin: 20px 0px 0px 0px;
}
div.sortableList ul.sortableRow {
	background-color: #F0F0EE;
	border: 1px solid #CCC;
	margin-bottom: 1px;
	padding-left: 1px;
	height: 30px;
	/*overflow:none;*/
	white-space: nowrap;
}
div.sortableList ul {
	list-style: none;
	margin:0px;
	padding: 0px;
	height: 30px;
}
div.sortableList ul li {
	list-style: none;
	cursor: move;
}
li.sortableItem {
	position: relative;
	float: left;
	margin: 3px 1px 1px 0px;
	border: 1px solid #CCC;
}
li.sortableItem.spacer {
	cursor: move;
	float: left;
	margin: 1px;
}

