body {
  font-family:Tahoma, Arial, Verdana;
  font-size: 12px;
  color: #000033;
}
a {
  font-family: Tahoma, Arial, Verdana;
  font-size: 11px;
  font-weight: bold;
  color: #FF0000;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
table, table.view {
  font-size : xx-small;
}
td {
  font-family: Tahoma, Arial, Verdana;
  font-size: 11px;
  color: #535353;
  font-weight: normal;
}
.caption {
  font-family: Tahoma, Arial, Verdana;
  font-size: 11px;
  color: #AC5D00;
}
.comment {
  font-family: Tahoma, Arial, Verdana;
  font-size: 10px;
}
.sectiontableheader {
  background-color : #0099FF;
  color : #FFFFFF;
  font-weight : bold;
}